import React, { Component } from 'react'
import { gql, graphql } from 'react-apollo'

class ConferenceDetails extends Component { ... }

const conferences = gql`
  query conference($edition: String!) {
    conference(edition: $edition) {
      name
      year
    }
  }
`
const ConferenceDetailsWithData = graphql(conferences, {
  options: {
    variables: { edition: 'Berlin2017' },
    pollInterval: 10000
  }
})(ConferenceDetails)
