const shops = gql`
  query shops {
    shops {
      id
      name
    }
  }
`

const ShopList = ({ data }) => {
  if (data.loading) return <span>Loading...</span>

  if (data.error) return <span>{data.error.message}</span>

  return (
    <ul>
      {data.shops.map(shop => <li key={shop.id}>{shop.name}</li>)}
    </ul>
  )
}

const ShopListWithData = graphql(shops)(ShopList)
